* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/background_rules.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
    color: rgb(255, 255, 0);
    text-shadow: 0 0 5px rgb(255, 0, 0);
    font-family: sans-serif;
    font-size: 5vh;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 2vh;
}

p {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 2vh;
}

img {
    height: 12vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

img:hover {
    box-shadow: 0 0 10px #ffffff, 0 0 30px rgb(255, 255, 0);
}

#p1 {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 700;
}

#control {
    height: 25vh;
    margin-top: 0vh;
    margin-bottom: 2vh;
}

h5 a {
    color: rgb(255, 255, 0);
    text-shadow: 0 0 5px rgb(255, 0, 0);
    font-family: sans-serif;
    font-style: italic;
    font-size: 3vh;
    font-weight: 600;
    letter-spacing: 2px;
}

h5 a:hover {
    color:rgb(0, 0, 0);
    text-shadow: 0 0 5px rgba(255, 0, 0);
    text-decoration: none;
}